if helper.validArray(resume.skills)
  div(class='skills margin-container-4')
    p(class='section-title no-alone-1') 🔧 Tools
    div(class='container')
      each skill in resume.skills
        div(class='article no-break')
          label=skill.name
          if helper.validArray(skill.keywords)
            span(class='margin-text-2')
              p #{skill.keywords.join(', ')}

