.awards {
  .header {
    .title {
      font-size: $font-size-small;
    }

    .awarder {
      font-size: $font-size-small;
      font-weight: normal;
    }
  }

  .summary {
    font-size: $font-size-xsmall;
  }
}
