@use "sass:color";

p,
q {
  line-height: $line-height-1;
}

li {
  line-height: $line-height-2;
  list-style: disc;

  &:first-child {
    margin-top: 0;
  }
}

.content {
  padding: 0;
  max-width: 850px;

  height: auto;
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  a[href] {
    text-decoration: underline;
  }
}

.table {
  width: 100%;
  display: table;

  .main {
    display: table-cell;
    width: $content-main-percentage;
    padding-right: $space-4;
  }

  .side {
    display: table-cell;
    width: $content-side-percentage;
    padding-left: $space-4;
  }
}

.flex {
  display: flex;
  gap: $space-3;

  flex-direction: column;

  @include breakpoint(lg) {
    flex-direction: row;
  }
  .main {
    display: flex;
    flex-direction: column;
    flex-basis: $content-main-percentage;

    @include breakpoint(lg) {
      width: $content-main-percentage;
    }
  }

  .side {
    display: flex;
    flex-basis: $content-side-percentage;
    flex-direction: column;
    border-left: none;
    padding-left: 0;
    @include breakpoint(lg) {
      border-left: 1px solid #ddd;
      padding-left: 12px;
      width: $content-side-percentage;
    }
  }
}

.summary {
  font-size: $font-size-small;

  &:empty {
    display: none;
  }
}

.section-title {
  font-size: $font-size-large;
  font-weight: normal;
  margin: 0 0 $space-2 0;
}
