@use "sass:math";

$content-width: 850px;
$content-main-percentage: 70%;
$content-side-percentage: 100% - $content-main-percentage;

$space-1: 10px;
$space-2: 20px;
$space-3: 30px;
$space-4: 50px;

$line-height-1: 1.25em;
$line-height-2: 1.35em;
$line-height-3: 1.6em;

$text-color: #050708;
$text-color-dark: #dddddd;

$font-size-xlarge: 26px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 15px;
$font-size-xsmall: 14px;

$header-name-font-size: 36px;
$header-line-font-size: 28px;
